.top-image {
  width: 100%;
  height: 650px;
  position: relative;
}

.text{
  position: absolute;
  top: 22%;
  left: 55%;
}
.arrow_box{
  margin-left: 100px;
  position:relative;
  width:300px;
  height:140px;
  background:#C1E6E0;
  padding:20px;
  color:#333333;
  font-size:15px;
  font-weight:bold;
  font-style:oblique;
  border-radius:27px;
  -webkit-border-radius:27px;
  -moz-border-radius:27px;
}
.arrow_box:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(193, 230, 224, 0);
  border-top-width:10px;
  border-bottom-width:10px;
  border-left-width:30px;
  border-right-width:30px;
  margin-top: -10px;
  border-right-color:#C1E6E0;
  right:100%;
  top:50%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

#menu {
  display: flex;
  background-color: #555;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}

#menu a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #fff;
}
.title{
  width: 1500px;
  padding-left: 50px;
  letter-spacing: 0.5em;
}
.menu-right{
  width: 100%;
}

ul {
  display: flex;
  justify-content: space-around;
}


p{
  text-align: center;
  font-size: 3rem;
  color: #f49542;
}
.h100{
  height: 100px;
}